/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Amatica+SC|Roboto+Condensed');


body {
  background-color: #f3d2d9;
}

/*NAV*/


/* END OF NAV */

/* bootstrap universal */

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #000;
  background-color:  #f3d2d9;
}

.nav-pills>li>a {
  border-radius: 6px;
  color: #000;
  border-bottom: 2px solid #000;
  padding: 5px;

}
/* end of boostrap universal */

/*universal */

.main {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f1c7d1;
  width: 500px;
  height: auto;
  border: 2px solid #fff;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Amatica SC', cursive;
}
.center {
  text-align: center;
}

h4 {
  font-weight: lighter;
  font-size: 16px;
}
.pad { /* padding */
  padding: 10px;
}

.w-hun { /*width 100% */
  width: 100%;
}

.w-fifty { /* width 50% */
  width: 50%;
}

/*pic column */
.pic {
float: left;
}
.op { /*opacity*/
  opactiy: 0.5;
}

.p-list {
list-style: none;
}

.f-back { /*form background*/
  background-image: url("http://data.whicdn.com/images/284530422/large.jpg");
  background-position: center;
  background-repeat: none;
  background-size: contain;
}
/*end*/
iframe {
  opacity: 0.8;
}
.col-md-4 {
  height: 50px;
}

/*MEDIA QUERIE*/
@media (min-width: @screen-sm-min) {

.nav>.nav-pills {

}
 }
